<form class="login">
  <h1>NeUI</h1>
  <input type="text" name="token" placeholder="GitHub Token">
  <button>Sign In</button>
  <a href="https://github.com/settings/tokens/new" target="_blank">Create New GitHub Token</a></p>
</form>
