<ul class="primary">
  <li class="list"><a href="#">Unread</a></li>
  <li class="list"><a href="#">Participating</a></li>
  <li class="list"><a href="#">Starred</a></li>
  <li class="list"><a href="#">All Notifications</a></li>
</ul>

<ul id="repositories">
  <span class="title">Repositories</span>
</ul>
