<header>
  <ul class="segmented-control">
    <li><label><input type="radio" name="notifications-state" value="unread" checked> Unread</label></li>
    <li><label><input type="radio" name="notifications-state" value="all"> All</label></li>
  </ul>
</header>
<ul class="notification-list">
</ul>
