<header>
  <nav class="segmented-control">
    <input id="notification-state-unread" type="radio" name="notifications-state" value="unread" checked>
    <label for="notification-state-unread">Unread</label>

    <input id="notification-state-all" type="radio" name="notifications-state" value="all">
    <label for="notification-state-all">All</label>
  </nav>
</header>
<ul class="notification-list">
</ul>
