<h1>
  <a href="<%= subject.html_url %>" target="_blank">
    <span class="notification-type-octicon octicon octicon-<%= subject.octicon %>"></span>
    <%- subject.title %>
  </a>
</h1>
<nav>
  <span class="subscription"></span>
  <button class="star octicon octicon-star<% if(starred) { %> starred<% } %>"></button>
</nav>
