<header>
  <h1><span class="octicon octicon-<%= subject.octicon %>"></span> <%= subject.title %></h1>
  <nav class="subscription"></nav>
</header>
<div class="subject">
  <div class="comments">
  </div>
</div>
