<% if(ignored) { %>
  <button class="unmute" title="Unmute"><span class="octicon octicon-unmute"></span></button>
<% } else { %>
  <button class="mute" title="Mute"><span class="octicon octicon-mute"></span></button>
<% } %>
