button, .button {
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: transparent;
  color: #999;
  line-height: 32px;
  height: 32px;
  text-align: center;
  padding: 0 9px;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: $brand-green;
  }

  .octicon {
    padding: 0;
    width: 32px;
  }
}
