button, .button {
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: transparent;
  color: inherit;
  line-height: 18px;
  height: 18px;
  text-align: center;
  padding: 0 9px;
  text-decoration: none;
  outline: 0;
  @include opacity(0.8);

  &:hover {
    @include opacity(1);
  }

  .octicon {
    padding: 0;
    width: 32px;
  }
}
