#details {
  overflow: hidden;

  header {
    line-height: 32px;
    padding: 16px 18px 16px 60px;
    margin: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(#000, 0.3), 0 0 5px rgba(#000, 0.2);

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  h1 {
    @extend .nowrap;
    font-size: 18px;
    margin: 0 90px 0 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 16px;
    right: 18px;
  }

  .subject {
    position: absolute;
    overflow: auto;
    top: 64px;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .star.starred {
    background-color: #F6ECB9;
    border-color: rgba(#A1882B, 0.5);
  }
}

.notification-type-octicon {
  position: absolute;
  left: 18px;
  font-size: 24px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  text-align: center;
}
