#lists, #threads, #details {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#lists {
  left: 0;
  width: 200px;
}

#threads {
  left: 200px;
  right: 55%;
}

#details {
  left: 45%;
  right: 0;
}
