#threads {
  .content {
    border-right: 1px solid #d9d9d9
  }

  .notification {
    position: relative;
    box-shadow: inset 0 1px 0 #ede8ea, 0 1px 0 #ede8ea;
    transition: background .2s ease;

    &:hover {
      background-color: desaturate(lighten($header-color, 52%), 35%);
    }

    &.selected {
      background-color: desaturate(lighten($header-color, 48%), 35%);
    }

    a {
      padding: 15px 15px 15px 34px;
    }

    .octicon {
      position: absolute;
      left: 12px;
    }
  }

  .repository, time {
    color: #818189;
    font-size: 0.9em;
  }

  .repository {
    float: left;
    clear: both;
  }

  time {
    float: right;
  }

  .title {
    display: block;
    font-size: 14px;
    line-height: 16px;
    @extend .nowrap;
  }

  .unread {
    .title {
      font-weight: bold;
    }
  }
  .read {
    color: #818189;
  }
}
