#threads {
  border-right: 1px solid #d9d9d9;

  header {
    padding: 16px 18px;
  }

  .notification {
    border-bottom: 1px solid #ede8ea;
    position: relative;
    line-height: 18px;
    transition: background .3s ease;

    a {
      padding: 18px;
      padding-left: 54px;
      transition: background .3s ease;

      &:hover {
        background: #f7f7f7;
      }
    }

    &.selected {
      background-color: #f7f7f7;
    }
  }

  .octicon {
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -12px;
  }

  .repository, time {
    color: #818189;
    font-size: 0.9em;
  }

  .repository {
    float: left;
  }

  time {
    float: right;
  }

  .title {
    clear: both;
    display: block;
<<<<<<< HEAD
=======
    font-size: 14px;
    line-height: 16px;
>>>>>>> d089369... Change visual style for read/unread
    @extend .nowrap;
  }

  .unread {
    .title {
      font-weight: bold;
    }
  }
  .read {
    color: #818189;
  }
}
