@import "variables";
@import "compass";
@import "compass/css3";
@import "normalize-scss/normalize";
@import "octicons/octicons/sprockets-octicons";
@import "layout";
@import "base";
@import "buttons";
@import "segmented-control";
@import "sidebar";
@import "repositories";
@import "lists";
@import "threads";
@import "details";
@import "shortcuts";
@import "authenticate";
@import "details/pull_request";

* {
  @include box-sizing(border-box);
}

body {
  font-size: 13px;
  line-height: 18px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.octicon {
  text-align: center;
}

.octicon-git-pull-request { color: $pull-request-color; }
.octicon-issue-opened { color: $issue-opened-color; }
.octicon-git-commit { color: $git-commit-color; }

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
