* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, input, select, textarea, button {
  font: 13px "Helvetica Neue", Helvetica, sans-serif;
  line-height: 18px;
}

.octicon {
  text-align: center;
}

.octicon-git-pull-request { color: pull-request-color; }
.octicon-issue-opened { color: issue-opened-color; }
.octicon-git-commit { color: git-commit-color; }

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

time {
  font-weight: 200;
  color: #bbbbbf;
  font-size: 0.85em;
}

.obscure-links {
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted rgba(#000,0.2);
  }
}

.pane {
  & > header {
    background-color: header-color;
    line-height: 48px;
    box-shadow: 0 0 1px #000, 0 0 5px rgba(#000, 0.5),
      inset 1px 0 0 0 rgba(#fff, 0.1), inset -1px 0 0 0 rgba(#000, 0.1);
    color: #fff;
    padding: 0 18px;

    & > * {
      vertical-align: middle;
      display: table-cell;
      white-space: nowrap;
    }

    .mega-octicon {
      vertical-align: center;
    }

    nav {
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .actions, .responsive-toggle {
      width: 1%; // make it as small as possible since it is display:table-cell
    }

    @media only screen and (max-width: 768px) {
      padding-left: 0;

      .responsive-toggle {
        padding: 0 18px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    box-shadow: -3px 0 3px rgba(#000, 0.2), inset 1px 0 1px rgba(#FFF, 0.1);

    header {
      box-shadow: inset 1px 0 1px rgba(#FFF, 0.1);
    }
  }
}
