// // background transparency
// background-transparency(color, alpha = 1)
//   ms-color = argb(color, alpha)
//   background rgb(color)
//   background rgba(color, alpha)
//   .lt-ie8 &
//     zoom 1
//   .lt-ie9 &
//     background transparent
//     filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color)
//     &:nth-child(n)
//       filter none

// hex(decimal)
//    hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
//    unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])

// argb(color, alpha = 1)
//   unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

// rgba(color, alpha = 1)
//   unquote('')
//   unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))
