// Height of iOS status bar in standalone mode
status-bar-height = 20px;

// Width of screen to uncover for mobile nav
toggle-percent = 80%;

// Colors
brand-blue = #4183c4;
brand-green = #6CC644;
brand-red = #BD2C00;
brand-yellow = #E4D591; // used on private lock on .com

pull-request-color = #9e157c;
issue-opened-color = #5AC12C;
issue-closed-color = #bd2c00;
git-commit-color = #156f9e;
git-merge-color = #6e5494;

header-color = #3488B6;
