// Height of iOS status bar in standalone mode
status-bar-height = 20px;

// Colors
brand-blue = #4183c4;
brand-green = #6CC644;
brand-red = #BD2C00;
brand-yellow = #E4D591; // used on private lock on .com

pull-request-color = #9e157c;
issue-opened-color = #489d00;
git-commit-color = #156f9e;

header-color = #3488B6;
