.pull-head {
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
  margin-bottom: 18px;
  padding: 6px;
  border-radius: 2px;

  .pull-state {
    float: left;
    margin-right: 18px;
  }

  .pull-summary {
    float: left;
    margin: 0;
  }

  .pull-head-meta {
    float: right;

    a {
      font-weight: bold;
      color: inherit;
      text-decoration: none;
    }
  }
}

.discussion-comment {
  position: relative;
  padding: 9px 18px 9px 60px;
  border-bottom: 1px solid #ede8ea;

  &.collapsed {
    .discussion-content { display: none; }
  }
}

.discussion-avatar {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 18px;
  top: 15px;
  border-radius: 2px;
}

.discussion-meta {
  line-height: 36px;
  vertical-align: middle;

  time {
    float: right;
    color: #818189;
    font-size: 0.9em;
  }
}

.discussion-content {
  margin-top: 9px;
}

.state-indicator {
  display: inline-block;
  height: 20px;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;

  &.open { background-color: #6cc644; }
  &.closed { background-color: #bd2c00; }
}
