#details {
  .pane {
    background-color: #fff;
  }

  header {
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .octicon-mute:hover {
    color: brand-red;
  }

  .octicon-unmute {
    color: brand-red;
    &:hover { color: brand-green; }
  }
}
