.diff {
  margin: 0 -18px;
}

.file {
  margin-top: 15px;

  .meta {
    clearfix();
    padding: 5px 18px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    background-color: #f5f5f5;

    .info {
      float: left;
      height: 24px;
      line-height: 24px;

      a {
        color: inherit;
        font-weight: 500;
      }
    }

    .actions {
      float: right;
      height: 24px;
      line-height: 22px;
    }
  }

  .data {
    margin: 0;
    padding: 18px;
  }
}
