#lists {
  background-color: desaturate(darken(header-color, 65%), 60%);
  color: #eee;
  font-size: 13px;
  box-shadow: inset -1px 0 0 #000, inset -2px 0 0 #333, 1px 0 2px rgba(#000, .25);
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 767px) {
    width: toggle-percent;
  }

  header {
    padding-left: 18px;
  }

  h1 {
    background: url(../img/mark.png) no-repeat center center;
    background-size: 100%;
    text-indent: -9999px;
    overflow: hidden;
    width: 182px;
    height: 18px;
  }

  ul {
    margin: 18px 0;
  }

  .list {
    a {
      color: #999;
      padding: 0 18px;
      line-height: 26px;
      transition: color .2s ease;

      &:hover {
        color: #ccc;
      }

      &.selected {
        color: #fff;
        background: rgba(#fff, 0.05);
      }
    }
  }

  .primary {
    display: block;
    font-size: 16px;
    margin-bottom: 18px;

    a {
      line-height: 34px;
    }
  }

  .title {
    color: rgba(#fff, 0.3);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 34px;
    padding: 0 18px;
  }
}


.list-name {
  @extend .nowrap;
  max-width: 85%;
  display: block;
  float: left;
}

.list-unread-count {
  float: right;
}
