#lists {
  background-color: sidebar-color;
  color: base-color;
  font-size: 12px;

  @media screen and (max-width: 767px) {
    width: toggle-percent;
  }

  header {
    padding-left: 18px;
  }

  h1 {
    background: url(../img/mark.png) no-repeat center center;
    background-size: 100%;
    text-indent: -9999px;
    overflow: hidden;
    width: 182px;
    height: 18px;
  }

  .list {
    a {
      color: #666;
      padding: 0 9px;
      line-height: 26px;
      font-size: 100;

      &.selected {
        background: brand-blue;
        color: #fff;
        border-radius: 3px;
      }
    }
  }

  .primary {
    display: block;
    font-size: 12px;
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;

    a {
      line-height: 36px;
    }

    .octicon {
      margin-right: 4px;
      width: 18px;
    }
  }

  .title {
    font-weight: 400;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 34px;
    padding: 0 9px;
  }
}

.list-name {
  @extend .nowrap;
  max-width: 80%;
  display: block;
  float: left;
}

.list-unread-count {
  float: right;
  opacity: 0.75;
}

#send-feedback {
  display: block;
  text-align: center;
  color: rgba(#000, 0.5);
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgba(#000, .1);
  margin: 20px 0;
  padding: 10px;
  border-radius: 2px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
