#shortcuts .modal {
  background: rgba(#000,0.8);
  color: #fff;

  h2 {
    margin: 0;
    margin-left: 80px;
  }

  dl {
    line-height: 2;
  }

  dt {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 18px;
  }
}
