#threads {
  background: #fff;

  .notification {
    position: relative;
    border: 1px solid transparent;
    border-top-color: border-color;

    &:first-child {
      border-top-color: transparent;
    }

    &.selected {
      background-color: selected-color;
      border-color: border-color;
      border-radius: 3px;
    }

    &.selected + .notification {
      border-top-color: transparent;
    }

    a {
      padding: 12px 12px 12px 34px;
    }

    .octicon {
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -8px;
    }
  }

  .repository {
    color: #818189;
    font-size: 0.9em;
    float: left;
    clear: both;
  }

  time {
    float: right;
    font-weight: 200;
    color: #BBBBBF;
    font-size: 0.85em;
  }

  .title {
    display: block;
    font-size: 14px;
    line-height: 16px;
    @extend .nowrap;
  }

  .unread {
    .title {
      font-weight: bold;
    }
  }

  .read {
    color: #818189;
  }
}
