.menubutton {
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: transparent;
  color: inherit;
  text-align: center;
  padding: 0 9px;
  text-decoration: none;
  outline: 0;

  &.octicon {
    padding: 0;
    font-size: 2em;
    width: 32px;
    line-height: inherit;
  }
}
