.loading {
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: " ";
    background: #fff url('../img/octocat-spinner-128.gif') no-repeat center center;
    background-size: 64px;
    margin-right: 1px;
  }
}

.loader {
  display: none;
  height: 64px;
  background: #fff url('../img/octocat-spinner-128.gif') no-repeat center center;
  background-size: 32px;
  box-shadow: inset 0 1px 0 #ede8ea, 0 1px 0 #ede8ea;
}

.paginating .loader {
  display: block;
}
