.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(#000, 0.4);
  z-index: 100;
}

.modal {
  width: 450px;
  margin: 10% auto;
  background: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 0 0 18px rgba(#000, 0.4);
  position: relative;

  .close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    font-size: 18px;
    color: #ccc;
  }

  .header {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    margin: -10px -20px 20px;
    padding: 20px;

  }

  .note {
    font-size: 0.9em;
    color: #666;
  }
}
