// http://valdelama.com/css-responsive-navigation

@media screen and (min-width: 768px) {
  .responsive-toggle { display: none !important; }
}

@media screen and (max-width: 767px) {
  input.responsive-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-content {
    transition: transform 250ms ease;
  }

  .responsive-toggle:checked ~ .responsive-content {
    transform: translateX(toggle-percent);
  }
}
