// Segmented control implemented purely in CSS
//
// <nav class="segmented-control">
//   <input id="option-1" type="checkbox">
//   <label for="option-1">Option 1</label>
//
//   <input id="option-2" type="checkbox">
//   <label for="option-2">Option 2</label>
// </nav>
.segmented-control {
  display: inline-block;
  overflow: hidden;

  input {
    visibility: hidden;
    position: absolute;
    left: -5000px;
  }

  label {
    border: 1px solid border-color;
    border-right-width: 0px;
    line-height: 24px;
    padding: 0 18px;
    display: inline-block;
    float: left;
  }

  // Selected
  input:checked + label {
    background-color: selected-color;
    color: darken(base-color, 25%);
  }

  // input is 1st child, so label is 2nd child
  label:nth-child(2) {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  label:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right-width: 1px;
  }
}
